<!DOCTYPE html>
<html>
<head>
    {{>ogtags}}
    </script>            
    <meta data-rh="true" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta data-rh="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    {{>typography}}
    <title>{{title}}</title>
    <body>
        {{{body}}}
    </body>
</html>